body {
  margin: 0;
}

/* Styles for phones (up to 767px) */
@media (max-width: 767px) {
  .footer-text {
    font-size: 10px !important;
  }
  .MuiTypography-body1.MuiTypography-body1 {
    font-size: 7px !important;
  }
  .MuiIconButton-root.MuiIconButton-root {
    font-size: 2.5rem !important;
  }

  .MuiAppBar-root {
    padding: 4px;
  }
}

/* Styles for tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-text {
    font-size: 25px !important;
  }
  .MuiTypography-body1.MuiTypography-body1 {
    font-size: 20px !important;
  }
  .MuiIconButton-root.MuiIconButton-root {
    font-size: 3rem !important;
  }

  .MuiAppBar-root {
    padding: 16px;
  }
}

/* Styles for laptops (1024px and up) */
@media (min-width: 1024px) {
  /* Add laptop/desktop-specific styles here */
}
