.forgot-password-container {
  background: linear-gradient(to bottom, #f9fbe7, #d2ebfb);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.animated-text {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for phones (up to 767px) */
@media (max-width: 767px) {
  .forgot-password-container {
    padding: 10px;
  }

  .MuiTypography-h4 {
    font-size: 24px !important;
  }

  .MuiButton-root {
    margin-top: 10px !important;
    font-size: 16px !important;
  }
}

/* Styles for tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .forgot-password-container {
    padding: 15px;
  }

  .MuiTypography-h4 {
    font-size: 28px !important;
  }

  .MuiButton-root {
    margin-top: 20px !important;
    font-size: 18px !important;
  }
}

@media (min-width: 1024px) {
  /* Add laptop/desktop-specific styles here */
}
